/* subVisual */
#subVisual {
    width: 100%;
    height: 200px;
    background: #ededed;
}

/* main */
#container {
    height: 100%;
    background: #fff;
}
#content {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 50px;
}

.ceoPostWrap {}
.ceoPost {}
.ceoPost h3 {
    font-size: 20px;
    font-weight: 600;
}
.ceoPost p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.ceoPost .remote {
    width: 80%;
    margin-bottom: 10px;
}
.ceoPost .menu {
    width: 95%;
    border-top: 1px solid #444;
    border-collapse: collapse;
    margin-bottom: 25px;
}
.ceoPost .menu th,td {
    border-bottom: 1px solid #444;
    padding: 18px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
}
.ceoPost .pageWrap {
    text-align: center;
    margin-bottom: 20px;
}
.ceoPost .writeBtnWrap {
    text-align: center;
}
.ceoPost .writeBtnWrap .btn {
    background: none;
    cursor: pointer;
    transition: 0.1s;
    width: 48px;
    height: 100%;
    border: 0;
    background: #48d1cc;
    color: #fff;
    font-size: 11.5px;
    box-shadow: 3px 3px 3px #111;
}
.ceoPost .writeBtnWrap .writeBtn {
    margin-left: 10px;
}
.ceoPost .writeBtnWrap .btn:hover {}
.ceoPost .writeBtnWrap .btn:active {
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: none;
}
.changeBtn {
    background: #ff7f00;
    color: #fff;
    border-radius: 5px;
    transition: 0.7s;
    font-size: 4px;
    cursor: pointer;
}
.changeBtn:hover {
    background: #fff;
    color: #ff7f00;
    font-weight: 600;
}


/* ===================================== */
/* ceoPost.html + login + signup */
form {
    margin: 0 auto;
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 30px;
}
form div {
    margin-bottom: 5px;
}
form div label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
form div input {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #999;
}
form .submitBtn {
    padding-left: 90px;
}
form .submitBtn button {
    margin-left: .5em;
    background: none;
    transition: 0.3s;
}
form .submitBtn button:hover {
    background: #333;
    color: #fff;
}
.btn {
    background: none;
    border-radius: 10px;
    transition: 0.3s;
    margin-top: 10px;
}
.btn:hover {
    background: #333;
    color: #fff;
}

/* ===================================== */
/* ceoGet.html */
.get {
    font-size: 17px;
    font-weight: 600;
}
.getBox {
    border: 1px solid #111;
    padding: 20px;
    margin-top: 20px;
}
.homeBtn {
    transition: 0.3s;
    background: none;
    margin-top: 10px;
}
.homeBtn:hover {
    background: #333;
    color: #fff;
}